<!DOCTYPE html>
<html>
<head>
	<title>Slim Api</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>

<body>
	<div class="container-fluid">
		
		{% include 'templates/partials/navigation.twig' %}

		{% block content %} {% endblock %}

	</div>

	<!-- JQuery Script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<!-- Bootstrap Script -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>